.sidebar {
  min-width: 10rem;
  max-width: 20rem;
}

.sidebar-item {
  cursor: pointer;
  border: 0.35rem solid var(--surface4);
  border-radius: var(--border-radius);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.selected {
  border-color: hsl(var(--accent-hsl) / 0.4);
  background-color: hsl(var(--surface2-hsl) / 0.2);
}
