/*******************************/
/*         COLORS              */
/*******************************/

.brand {
  color: var(--brand);
  background-color: var(--brand);
}

.accent {
  color: var(--accent);
  background-color: var(--accent);
}

.rad-shadow {
  box-shadow: 
      0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
      0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .01)),
      0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02))
  ;
}

.text-1 {
  color: var(--text1);
}

.text-2 {
  color: var(--text2);
}

.surface-1 {
  background-color: var(--surface1);
  color: var(--text2);
}

.surface-2 {
  background-color: var(--surface2);
  color: var(--text2);
}

.surface-3 {
  background-color: var(--surface3);
  color: var(--text1);
}

.surface-4 {
  background-color: var(--surface4);
  color: var(--text1);
}

.info {
  background-color: var(--info);
  color: var(--text1);
}

.success {
  background-color: var(--success);
  color: var(--text1);
}

.warning {
  background-color: var(--warning);
  color: var(--text1);
}

.failure {
  background-color: var(--failure);
  color: var(--text1);
}