/*******************************/
/*         TYPOGRAPHY          */
/*******************************/
.font-size-l {
  font-size: 1.75rem;
}

.font-size-m {
  font-size: 1.15rem;
}

.font-weight-600 {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}